/* Navbar */
body {
    height: 100vh;
    background: linear-gradient(135deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar-light, .navbar-brand, .navbar-link, .nav-item {
    color: white !important;
}

a.nav-item.nav-link.two {
    color: blue !important;
}
/* Hero Image */
.hero-background-img {
    height: 100vh;
    background-color: #FA8BFF;
    background: linear-gradient(135deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    /* background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 400px;

}

.hero-js {
    color: white;
    padding-bottom: 50px;
    opacity: 0;
}

.cursor{
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: -5px;
    width: 2px;
    /* Change colour of Cursor Here */
    background-color: white;
    z-index: 1;
    animation: flash 0.5s none infinite alternate;
  }
  @keyframes flash{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }
  

/* 404 page */
.hero-background-img-two {
    height: 100vh;
    background-image: url("../static/img/404.png");
    background-color: #FA8BFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 400px;

}


/* About Me */


h1.about {
    text-align: center;
    color: white;
    margin-top: 150px;
    margin-left: 100px;
}

h1.about-card {
    margin-top: 50px;
}

p.about {
    margin-left: 10px;
    margin-right: 10px;
}

h3.hobbies {
    padding-top: 50px;
    padding-bottom: 50px;
}

img.about {
    width: 200px;
    height: 300px;
    margin-top: 50px;
    margin-left: 550px;
    box-shadow: 10px 10px 5px black;
}

/* Login */

form {
    margin-top: 200px;
    margin-left: 500px;
}

input {
    box-shadow: 5px 5px 5px gray;
}

/* Blog */

.container-blog {
    padding-top: 200px;
}

p.card-text {
    color: black;
}

h5.card-title {
    color: black;
}

/* Projects */

.container-project {
    padding-top: 200px;
}

h1.project {
    text-align: center;
    padding-bottom: 50px;

}
/* h1.form {
    margin-top: 100px;
} */

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

span {
    padding-left: 500px;
    color: white;
}

/* About Me */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-top: 150px;
    margin-left: 45%;
}
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
}
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);

}


/* Projects */
.card-group {
    justify-content: space-evenly;
}

div.project.flip-card {
    background-color: transparent;
    perspective: 1000px; 
    margin-top: 0px;
    margin-left: 150px;
    
}


