{% include 'header.html' %}
{% include 'nav.html' %}
  <div class="bio">
    <h1 class="about">About Me</h1>
    <img src="../static/img/kendra.png" class="about">
    <p class="about">Hi! I am a self-taught computer programmer and graduate student. I study at University of California, Berkeley as part of the MIMS
    (Masters of Information Management and Systems) program. I focus on UX Research and Cybersecurity and will graduate in May 2023.
    </p>
  </div>
  <div class="container mb-5 mt-5">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="hobbies">Hobbies</h3>
        <ul>
          <li>Programming</li>
          <li>Cycling</li>
          <li>Jeeping</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3 class="hobbies">Education</h3>
        <ul>
          <li>BA, Georgia Southern University</li>
          <li>MS, McCombs School of Business, UT Austin</li>
          <li>MS, School of Information, UC Berkeley</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3 class="hobbies">Programming Tools</h3>
        <ul>
          <li>Python</li>
          <li>Node</li>
          <li>React</li>
        </ul>
      </div>
    </div>
  </div>
