{% include 'header.html' %}
{% include 'nav.html' %}
<div class="about">
  <h1 class="about">About Me</h1>
  <div class="flip-card">
    <div class="flip-card-inner" style="width:300px;height:400px;">
      <div class="flip-card-front" style="width:300px;height:400px;">
        <img src="/static/img/kendra.png" alt="Avatar" style="width:300px;height:400px;">
      </div>
      <div class="flip-card-back" style="width:300px;height:400px;">
        <h1 class="about-card">Kendra Moore</h1>
        <p>MIMS, UC Berkeley</p>
        <p class="about">I am a first year graduate student focused on
          HCI and UX research. I have four years of
          self taught programming experience in Python, 
          JavaScript, C, and Swift. My hobbies include 
          working out, reading, and off roading in my jeep.
        </p>
      </div>
    </div>
  </div>
</div>


{% include 'footer.html' %}