{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container-blog">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">A Serverless Summer</h5>
          <p class="card-text">Blog about my internship at Autodesk</p>
          <a href="https://medium.com/@kendra.j.mosley/a-serverless-summer-3b2c2c778249" class="btn btn-primary">Medium</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Why You Should Use Hash Tables</h5>
          <p class="card-text">Article for CS class</p>
          <a href="https://medium.com/@kendra.j.mosley/why-you-should-use-hash-tables-d541ba4bd99b" class="btn btn-primary">Medium</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Introduction to Binary Trees</h5>
          <p class="card-text">Article for CS class.</p>
          <a href="https://medium.com/@kendra.j.mosley/an-introduction-to-binary-trees-8c7a7cd43da0" class="btn btn-primary">Medium</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Refactoring a Node App</h5>
          <p class="card-text">Article for personal project</p>
          <a href="https://medium.com/@kendra.j.mosley/storytime-383fcbacd370" class="btn btn-primary">Medium</a>
        </div>
      </div>
    </div>
  </div>
  
</div>
{% include 'footer.html' %}