{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container">
  <div class="container-project">
    <h1 class="project">Blog Post</h1>
    <div class="card-group">
      <div class="project flip-card">
        <div class="project flip-card-inner" style="width:400px;height:400px;">
          <div class="project flip-card-front" style="width:400px;height:400px;">
            <img src="/static/img/hash.png" alt="Avatar" style="width:400px;height:400px;">
          </div>
          <div class="flip-card-back" style="width:400px;height:400px;">
            <h1 class="about-card">Why You Should Use Hash Tables</h1>
            <p>Article for CS class</p>
            <a href="https://medium.com/@kendra.j.mosley/why-you-should-use-hash-tables-d541ba4bd99b"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-window" viewBox="0 0 16 16">
              <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
              <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm13 2v2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 14a1 1 0 0 1-1-1V6h14v7a1 1 0 0 1-1 1H2z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="project flip-card">
        <div class="project flip-card-inner" style="width:400px;height:400px;">
          <div class="flip-card-front" style="width:400px;height:400px;">
            <img src="/static/img/binary.png" alt="Avatar" style="width:400px;height:400px;">
          </div>
          <div class="flip-card-back" style="width:400px;height:400px;">
            <h1 class="about-card">Introduction to Binary Trees</h1>
            <p>Article for CS class.</p>
            <a href="https://medium.com/@kendra.j.mosley/an-introduction-to-binary-trees-8c7a7cd43da0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-window" viewBox="0 0 16 16">
              <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
              <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm13 2v2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 14a1 1 0 0 1-1-1V6h14v7a1 1 0 0 1-1 1H2z"/>
            </svg></a>
          </div>
        </div>
      </div>
      <div class="project flip-card">
        <div class="flip-card-inner" style="width:400px;height:400px;">
          <div class="flip-card-front" style="width:400px;height:400px;">
            <img src="/static/img/storytime.png" alt="Avatar" style="width:400px;height:400px;">
          </div>
          <div class="flip-card-back" style="width:400px;height:400px;">
            <h1 class="about-card">Refactoring a Node App</h1>
            <p>Article for personal project</p>
            <p class="about">Built using Node, Express, Postgres, and Heroku</p>
            <a href="https://medium.com/@kendra.j.mosley/storytime-383fcbacd370"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-window" viewBox="0 0 16 16">
              <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
              <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm13 2v2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 14a1 1 0 0 1-1-1V6h14v7a1 1 0 0 1-1 1H2z"/>
            </svg></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
{% include 'footer.html' %}