<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Kendra's Portfolio">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Kendra's Portfolio">
    <meta property="og:url" content="{{ url }}">
    <link rel='icon' href='/static/img/favicon.ico' type='image/x-icon'/>

    <title>{{ title }}</title>
</head>

<body>

    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="/static/img/logo.svg" alt="logo"/>
                </div>
            </a>
        </div>
    </header>

