
{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container">  
{% block content %} 
    <form method="post">
        <h1 class="form">Login</h1>
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}
        </p>
        <p>{{ form.submit() }}</p>
        <a href="/register">Register</a>
    </form>
    {% endblock %}
</div>
{% include 'footer.html' %}
  