<nav class="navbar navbar-expand-sm fixed-top navbar-light-two">
    <a class="navbar-brand" href="/">
      <img src="./static/img/jeep.png" alt="" width="40" height="34">
    </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link two" href="/">Home</a>
      <a class="nav-item nav-link two" href="/about">About Me</a>
      <a class="nav-item nav-link two" href="/ux">UX</a>
      <a class="nav-item nav-link two" href="/code">Code</a>
      <a class="nav-item nav-link two" href="/resume">Resume</a>
    </div>
  </nav>
  <body>