<nav class="navbar navbar-expand-sm fixed-top navbar-light">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/about">About Me</a>
      <a class="nav-item nav-link" href="/code">Projects</a>
      <a class="nav-item nav-link" href="/blog">Blogs</a>
      <a class="nav-item nav-link" href="https://www.dropbox.com/s/8ue31x7ycz6cbq2/kendra.pdf?dl=0">Resume</a>
      <a class="nav-item nav-link" href="https://github.com/kendrajmoore">Github</a>
      <a class="nav-item nav-link" href="hhttps://www.linkedin.com/in/kendrajmoore/">Linkedin</a>
    </div>
  </div>
</nav>
<body>