<nav class="navbar navbar-expand-sm fixed-top navbar-light">
  <a class="navbar-brand" href="/">
    <img src="./static/img/jeep.png" alt="" width="40" height="34">
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/about">About Me</a>
    <!-- <a class="nav-item nav-link" href="/ux">UX</a> -->
    <a class="nav-item nav-link" href="/code">Projects</a>
    <a class="nav-item nav-link" href="/blog">Blogs</a>
    <a class="nav-item nav-link" href="/resume">Resume</a>
  </div>
</nav>
<body>