{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container-project">
  <h1 class="project">Personal Projects</h1>
  <div class="card-group">
    <div class="project flip-card">
      <div class="project flip-card-inner" style="width:300px;height:400px;">
        <div class="project flip-card-front" style="width:300px;height:400px;">
          <img src="/static/img/kendra.png" alt="Avatar" style="width:300px;height:400px;">
        </div>
        <div class="flip-card-back" style="width:300px;height:400px;">
          <h1 class="about-card">Kendra Moore</h1>
          <p>Grad Student MIMS, UC Berkeley</p>
          <p class="about">I am a first year student focused on
            HCI and UX research. I have four years of
            self taught programming experience. My 
            hobbies include working out and reading.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner" style="width:300px;height:400px;">
        <div class="flip-card-front" style="width:300px;height:400px;">
          <img src="/static/img/kendra.png" alt="Avatar" style="width:300px;height:400px;">
        </div>
        <div class="flip-card-back" style="width:300px;height:400px;">
          <h1 class="about-card">Kendra Moore</h1>
          <p>Grad Student MIMS, UC Berkeley</p>
          <p class="about">I am a first year student focused on
            HCI and UX research. I have four years of
            self taught programming experience. My 
            hobbies include working out and reading.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner" style="width:300px;height:400px;">
        <div class="flip-card-front" style="width:300px;height:400px;">
          <img src="/static/img/kendra.png" alt="Avatar" style="width:300px;height:400px;">
        </div>
        <div class="flip-card-back" style="width:300px;height:400px;">
          <h1 class="about-card">Kendra Moore</h1>
          <p>Grad Student MIMS, UC Berkeley</p>
          <p class="about">I am a first year student focused on
            HCI and UX research. I have four years of
            self taught programming experience. My 
            hobbies include working out and reading.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}