{% include 'header.html' %}
{% include 'nav.html' %}
<div class="container-project">
  <div class="card-group">
    <div class="card">
      <img src="../static/img/gamedex.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gamedex</h5>
        <p class="card-text">An app to track esports events.</p>
        <a href="https://esports-kjmoore.herokuapp.com/" class="btn btn-primary">Medium</a>
      </div>
    </div>
    <div class="card">
      <img src="../static/img/magic.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Magic Card Tracker</h5>
        <p class="card-text">An app to keep track of magic cards.</p>
        <a href="https://magic-cards-kjm.herokuapp.com/" class="btn btn-primary">Live</a>
      </div>
    </div>
    <div class="card">
      <img src="../static/img/moodefy.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Moodefy</h5>
        <p class="card-text">An app for social justice.</p>
        <a href="http://moodefy.herokuapp.com/" class="btn btn-primary">Live</a>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}